<template>
  <v-layout row wrap>
    <v-flex md6>
      <v-container>
        <v-layout wrap>
          <v-flex xs12>
            <v-text-field
              v-model="searchName"
              label="Username"
              placeholder="ex: chihkaiyu"
            ></v-text-field>

            <div>
              <p>Default Channel:<br/>{{ searchChannel }}</p>
            </div>
          </v-flex>

          <v-flex xs12>
            <div>
              <v-btn
                color="primary"
                @click="search(searchName)"
              >Search</v-btn>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>

    <v-flex md6>
      <v-container>
        <v-layout wrap>
          <v-flex xs12>
            <v-text-field
              v-model="updateName"
              label="Username"
              placeholder="ex: chihkaiyu"
            ></v-text-field>

            <v-text-field
              v-model="updateChannel"
              label="Default Channel"
              placeholder="ex: general"
            ></v-text-field>

            <div>
              <p>{{ updateResult }}</p>
            </div>

          </v-flex>

          <v-flex xs12>
            <div>
              <v-btn
                color="error"
                @click="update(updateName, updateChannel)"
              >Update</v-btn>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>

  </v-layout>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      searchName: '',
      searchChannel: '',
      updateName: '',
      updateChannel: '',
      updateResult: '',
    }
  },
  methods: {
    search (searchName) {
      axios.get('/api/user/' + searchName)
      .then(response => {
        if (response.data.ok) {
          if (response.data.user.DefaultChannel === '') {
            this.searchChannel = 'N/A'
          } else {
            this.searchChannel = response.data.user.DefaultChannel
          }
        }
      })
      .catch(error => {
        this.searchChannel = error.response.data
      })
    },
    update (updateName, updateChannel) {
      axios.put('/api/user/' + updateName + '?default_channel=' + updateChannel)
      .then(response => {
        if (response.data.ok) {
          this.updateResult = 'Updated!'
        } else {
          this.updateResult = response.data.error
        }
      })
      .catch(error => {
        this.updateResult = error.response.data
      })
    }
  }
}
</script>
