<template>
  <v-navigation-drawer permanent fixed app>
    <v-toolbar flat>
      <v-list>
        <v-list-tile to="/">
          <v-list-tile-title class="title">
            Gitlack
          </v-list-tile-title>
          <v-flex xs6>
            <v-img
              :src="require('../assets/logo.png')"
              class="my-3"
              contain
              height="50"
            ></v-img>
        </v-flex>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-divider></v-divider>

    <v-list dense class="pt-0">
      <v-list-tile
        v-for="item in items"
        v-bind:key="item.title"
        v-bind:to="item.path"
      >
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title >{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          { title: 'Project', icon: 'folder', path: 'project' },
          { title: 'User', icon: 'people', path: 'user' }
        ],
        right: null
      }
    },
    methods: {
      toProject() {
        this.$router.push('project')
      },
      toUser() {
        this.$router.push('user')
      }
    }
  }
</script>

<style lang="stylus">

</style>
