<template>
  <v-app dark>
    <v-toolbar app></v-toolbar>
    <SideBar/>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import SideBar from './components/SideBar'

export default {
  name: 'App',
  components: {
    SideBar
  },
  data () {
    return {
      //
    }
  }
}
</script>
